@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;600&display=swap");

* {
  background-color: #fff;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.nav {
    width: 640px;
    display: flex;
    justify-content: space-between;
    padding:50px 15px;
}

.anchor p {
    color: #808080;
    font-size: 14px;
}

.anchor a {
    text-decoration: none;
}

.anchor a:hover {
    text-decoration: underline;
}

.buddy {
    padding: 0 15px;
}

h1 {
    font-size:54px;
    padding-top: 35px;
    line-height: 60px;
    font-weight: bolder;
}
.account {
    padding-top: 30px;
    font-size: 20px;
}

.my-input {
    width: 650px;
    padding: 25px 15px;
    
}

.mylabel {
    display: block;
    color: #a9a9a9;
    font-size: 15px;
    padding-top: 10px;
}

.input-field {
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    padding-top: 15px;
    border-bottom: 2px solid black;
}

::placeholder{
    font-size: 17px;
    color: #c0c0c0;
    padding-bottom: 30px;
}

.checkbox {
    width: 600px;
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
    align-items: center;
}

.checkbox input {
    cursor: pointer;
}

.checkbox label {
    font-size: 14px;
}

.checkbox p {
    color: #a9a9a9;
}

.checkbox a {
    text-decoration: none;
}

.checkbox a:hover {
    text-decoration: underline;
}

.btn {
    width: 620px;
    margin: 50px 12px;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    background-color: #6a6ad1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: #ffa500;
}

.col-1 {
    display: flex;
    position: relative;
}

.col-2 {
    width: 650px;
}

.banner-text {
    position: absolute;
    top: 50px;
    left: 130px;
    mix-blend-mode: multiply;
    font-size: 34px;
    color: #000;
}

.banner-text a {
    color: #000;
}

.outside {
    width: 48rem;
    height: 65rem;
    object-fit: contain;
    background-color: #f6f8ff;
}

.row {
    display: flex;
    gap: 50px;
}

span {
    margin-left: 90px;
}

.banner-text p {
    line-height: 45px;
    padding-top: 27px;
}

footer {
    text-align: center;
    color: #808080;
}
    
.woman-1 {
    background-color: transparent;
    position: absolute;
    margin-top: 60px;
    left: 15px;
    top: 20%;
    width: 29rem;
    animation: down-up 3s infinite alternate ease-in-out;
}
.woman-2 {
    background-color: transparent;
    position: absolute;
    margin-top: 30px;
    left: 59%;
    top: 17%;
    width: 19rem;
    animation: up-down 3s infinite alternate ease-in-out;
}

@keyframes down-up {
    0% {
        transform: translateY(-11px);
    }

    100% {
        transform: translateY(11px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(11px);
    }

    100% {
        transform: translateY(-11px);
    }
}

@media (max-width: 800px) {
    .col-1 {
        display: none;
    }
    .nav {
        width: 640px;
    }
    .buddy {
        padding: 0 15px;
    }
    h1 {
        font-size:54px;
    }
    .my-input {
        width: 650px;
    }
    .input-field {
        padding-top: 15px;
    }
    .checkbox {
        width: 600px;

    }
    .btn {
        width: 620px;
    }
}

@media (max-width: 500px) {
    .col-1 {
        display: none;
    }
    .nav {
        width: 480px;
    }
    .buddy {
        padding: 0 10px;
    }
    h1 {
        font-size:50px;
    }
    .my-input {
        width: 490px;
    }
    .input-field {
        padding-top: 10px;
    }
    .checkbox {
        width: 475px;
    }
    .btn {
        width: 460px;
    }
}