@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #fff;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  /* box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1); */
  background-color: #FFFAF0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.logo {
  padding: 28px;
}

.container {
  position: relative;
}

.dot {
  top: -5px;
  right: 10px;
  height: 20px;
  width: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  /* font-family: "Playfair Display", serif; */
  /* font-size: 16px; */
  /* display: inline-block; */
}

.navbar {
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0px 20px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/* Navigation section end */

/* styling the hero section */
.hero {
  margin-bottom: 6rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  padding: 0 6rem;
  background-color: #FFFAF0;
}

.hero-heading {
  font-family: "Playfair Display", serif;
  font-size: 120px;
  margin-top: 50px;
  padding: 28px 0;
}

.hero-subhead {
  padding: 28px 0;
  font-size: 19px;
  line-height: 1.45em;
}

.button-plus {
  display: flex;
  gap: 2rem;
}

.shop-button {
  /* width: fit-content; */
  background-color: black;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 26px;
  transition: .6s ease-in-out;
  border: none;
}

.shop-button:hover {
  background-color: #655C97;
}

.plus-class{
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 0 14px;
  border-radius: 50%;
}

.plus-class p {
  font-size: 35px;
}

.hero-2 {
  width: 100%;
  position: relative;
  color: #fff;
  border-radius: 50%;
}

.hero-img {
  width: 58rem;
  height: 60rem;
  /* position: absolute; */
  /* top: -120px; */
}

.offer {
  /* position: absolute; */
  width: fit-content;
}

/* hero style ends */

/* div-2 styling */
.categories-div, .top-item, .best-selling {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 6rem;
}

.categories-h2, .top-item-h2, .best {
  font-size: 3.75rem;
}

.forwardarrow {
  background-color: #000;
  width: fit-content;
  display: flex;
  padding: 1rem;
  height: fit-content;
  border-radius: 55%;
  padding: 2rem 1.5rem;
}

.forwardarrow:hover {
  background-color: #655C97;
}

.grids-1 {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem 1rem 5rem;
  flex-wrap: wrap;
}

.griddivs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 22rem;
  height: 22rem;
  border: 2px solid black;
  color: #fff;
  margin-top: 3rem;
}

.griddivs h1 {
  font-size: 40px;
}

.invisiblebutton {
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  display: none;
}

.griddivs:nth-child(1) {
  background: url(../assets/shop/img_04.png);
  background-size: cover;
}
.griddivs:nth-child(2) {
  background: url(../assets/shop/img_05.png);
  background-size: cover;
}
.griddivs:nth-child(3) {
  background: url(../assets/shop/img_06.png);
  background-size: cover;
}
.griddivs:nth-child(4) {
  background: url(../assets/shop/img_07.png);
  background-size: cover;
}

/* div-2 style ends */

/* Top item styling begins */
.top-divs {
  display: flex;
  gap: 2rem;
  margin: 6rem 0 10rem 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.movingcards {
  transition: all .4s ease-in-out; 
  width: 40rem;
}

.movingcards:hover {
  transform: scale(0.9);

}

.card-name, .selling-name {
  color: gray;
}

.cardsimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  width: 25rem;
  background-color: #F5F5F5;
  margin-bottom: 2rem;
}

.cardsimg img {
  height: 20rem;
  width: 20rem;
}

.rate {
  display: flex;
}

.top-price, .selling-price {
  color: black;
  font-size: 27px;
}

.rate img {
  width: 20px;
  color: yellow;
  background-color: yellow;
  fill: yellow;
}
/* top-item style ends */

/* flash sale div stling begins */
.flashsale {
  background-color: #FFF9EB;
  display: flex;
  /* gap: 2rem; */
  /* flex-wrap: wrap; */
  margin: 0 2rem 7rem;
}

.flashsale img {
  height: 45rem;
}

.sale {
  font-size: 24px;
  margin: 0 0 2rem 0;
}

.summer {
  font-size: 3rem;
  text-align: center;
  /* margin-bottom: 2rem; */
}

.slashsale {
  background-color: #FFF9EB;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event {
  margin: 2rem 0;
}

.off {
  color: red;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* flash sale style ends */

/* services div styling begins */
.middle {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  /* width: 50%; */
}

.all-services {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 9rem;
}

.service-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 16rem;
}

.service-divs p {
  color: gray;
  font-size: 18px;
}

.service-imgs {
  border: 1px solid rgb(200, 197, 197);
  padding: 1rem;
  border-radius: 50%;
  display: flex;
}
/* services div styling ends */

/* Best seller div starts */
.best-seller {
  background-color: #F5F5F5;
  height: fit-content;
}

.best-selling-divs{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 10rem;
}

.selling-divs {
  /* padding: 2rem; */
  /* display: flex; */
  background-color: #fff;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .4s ease-in-out; 
}

.selling-divs img {
  width: 17rem;
  height: 18rem;
  margin-bottom: 4rem;
}

.selling-name {
  font-size: 20px;
  margin: 3px 0;
}



.selling-divs:hover {
  transform: scale(0.9);

}
/* Best seller div ends */

/* signup div styling begins */
.signup-div {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem ;
  gap: 7rem;
  padding: 4rem 2rem;
}

.hor-line {
  border: 1px solid black;
}

.signup-div h1 {
  font-size: 3rem;
}

.signup-1 {
  /* Set the width to 50% to take half of the available width */
  width: 50%;
}

.signup-2 {
  width: 30rem;
}

.signup2-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
/* signup div styling ends */

/* follow us div style begins */
.follow-us {
  margin: 0 2rem;
}

.follow-us p {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 6rem;
  align-items: center;
  justify-content: center;
}

.followus-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  box-sizing: border-box;
  justify-content: space-evenly;
}

/* .follow-img1 {
  background-image: url(../assets/shop/img_126.jpg);
}

.follow-img2 {
  background-image: url(../assets/shop/img_127.jpg);
}
.follow-img3 {
  background-image: url(../assets/shop/img_128.jpg);
}
.follow-img4 {
  background-image: url(../assets/shop/img_129.jpg);
} */

.followus-2 div img {
  /* flex-grow: 1; */
  /* max-width: 25%; */
  height: 24rem;
  width: 20rem;
}
/* follow us div style ends */

/* footer */
.footer{
  padding-top: 15rem;
}

















